---
- hosts: all 
  remote_user: root
  tasks:
    - name: Test connection
      ping:
      remote_user: yourname

    - name: Install basics packages (wget, vim, git, curl)
      become: yes
      package:
        name: wget,vim,git,curl
        update_cache: yes 

    - name: Git flow install
      become: yes
      shell: wget --no-check-certificate -q  https://raw.githubusercontent.com/petervanderdoes/gitflow-avh/develop/contrib/gitflow-installer.sh && sudo bash gitflow-installer.sh install stable; rm gitflow-installer.sh

    - name: Install apt transport https
      become: yes
      package:
        name: apt-transport-https

    - name: Add sublime apt key
      become: yes
      apt_key:
        url: https://download.sublimetext.com/sublimehq-pub.gpg  
    - name: Add sublimetext deb
      become: yes
      shell: echo "deb https://download.sublimetext.com/ apt/stable/" | sudo tee /etc/apt/sources.list.d/sublime-text.list
    - name: Install sublime-text
      become: yes
      package:
        name: sublime-text
        update_cache: yes

    - name: Install zsh and git-core
      become: yes
      package:
        name: zsh,git-core
        update_cache: yes
    - name: Oh My Zsh Installation 1/3
      become: no
      shell: wget https://github.com/robbyrussell/oh-my-zsh/raw/master/tools/install.sh -O - | zsh && sed -i 's/THEME=".*"/THEME="smt"/' ~/.zshrc
    - name: Oh My Zsh Installation 2/2
      become: yes
      shell: chsh -s `which zsh`
    - name: Oh My Zsh Config 1
      become: yes
      shell: grep -q -F 'export PATH="$PATH:/sbin:/usr/sbin:usr/local/sbin"' ~/.zshrc || echo 'export PATH="$PATH:/sbin:/usr/sbin:usr/local/sbin"' >> ~/.zshrc
    - name: Oh My Zsh Config 2
      become: yes
      shell: grep -q -F 'sudo run-parts /etc/update-motd.d' ~/.zshrc || echo 'sudo run-parts /etc/update-motd.d' >> ~/.zshrc


